In [ ]:
introduction to list datatype:

In [ ]:
Defination: A list is a collection of items declared in a particular order.
Classification: it is classified as mutable datatype.
How to declare a list datatype:by using square brackets []

In [3]:
students = ['radhika', 'asna', 'laiba', 'sanuba'] # 0,1,2,3

In [4]:
print(students)

['radhika', 'asna', 'laiba', 'sanuba']

In [6]:
type(students)

list

In [ ]:
#req How to access the above elements from the list?

In [ ]:
Introduction to indexing: 0,1,2,3..........

In [ ]:
# req: I want to access sanuba name from the above list, how will i do it?

In [7]:
print(students[3])

sanuba

In [8]:
print(students[2])

laiba

In [10]:
print(students[3].title())

Sanuba

In [ ]:
1. How to add new elements to the list?-----append (element added in the last)
2. How to modify the elements in list?
3. how to delete elements in the list?

In [11]:
print (students)

['radhika', 'asna', 'laiba', 'sanuba']

In [ ]:
#req: I want to add Prial in the above list

In [12]:
students.append('prial')

In [13]:
print(students)

['radhika', 'asna', 'laiba', 'sanuba', 'prial']

In [14]:
students.append('riya')

In [15]:
print(students)

['radhika', 'asna', 'laiba', 'sanuba', 'prial', 'riya']

In [ ]:
#req: I want to add 'diya' name to 2nd index...

In [16]:
students.insert(2,'diya')

In [17]:
print(students)

['radhika', 'asna', 'diya', 'laiba', 'sanuba', 'prial', 'riya']

In [19]:
print(students[2])

diya

In [ ]:
Interview ques: What is the difference btw append and insert method in list in Python?
    append adds element in the last whereas insert adds element in between

In [ ]:
#req: how to modify the required list

In [20]:
print(students)

['radhika', 'asna', 'diya', 'laiba', 'sanuba', 'prial', 'riya']

In [ ]:
#req: I want to modify Diya name to 'Arshaan'

In [21]:
print(students[2])

diya

In [22]:
students[2] = 'Arshaan'

In [24]:
print(students[2])

Arshaan

In [25]:
print(students)

['radhika', 'asna', 'Arshaan', 'laiba', 'sanuba', 'prial', 'riya']

In [ ]:
#req: How to delete elements in list?

In [26]:
print(students)

['radhika', 'asna', 'Arshaan', 'laiba', 'sanuba', 'prial', 'riya']

In [ ]:
I want to delete Laiba from te above list,how will I do it?

In [27]:
del students[3]

In [28]:
print(students)

['radhika', 'asna', 'Arshaan', 'sanuba', 'prial', 'riya']